{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div>
    <h1>Hi {{ user.username }}</h1>
    <div>
        <p>Here are your details:</p>
        <p><strong>Username: [[ currentdetails.username ]]</strong></p>
        <p><strong>Email: [[ currentdetails.email ]]</strong></p>
        <p><strong>First Name: [[ currentdetails.firstName ]]</strong></p>
        <p><strong>Last Name: [[ currentdetails.lastName ]]</strong></p>

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePassModal">
            Change Password
        </button>
        
        <div class="modal fade" id="changePassModal" tabindex="-1" aria-labelledby="changePassModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="changePassModalLabel">Change your password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="currentPassword" class="form-control">Current Password</label>
                            <input type="password" v-model="pass.currentpass" class="form-control" id="currentPassword" placeholder="Enter Current Password">
                        </div><br>
                        <div class="form-group">
                            <label for="newPassword1" class="form-control">New Password</label>
                            <input type="password" v-model="pass.newpass1" class="form-control" id="newPassword1" placeholder="Enter New Password"><br>
                            <label for="newPassword2" class="form-control">Confirm New Password</label>
                            <input type="password" v-model="pass.newpass2" class="form-control" id="newPassword2" placeholder="Enter New Password Again">
                        </div>
                        <button type="button" class="btn btn-success" v-on:click="changePassword(pass)">Submit</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Go back</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changeInfoModal">
            Change your details
        </button><br><br>
        
        <div class="modal fade" id="changeInfoModal" tabindex="-1" aria-labelledby="changeInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="changeInfoModalLabel">Change your details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="form-control">Username</label>
                            <input type="text" v-model="newdetails.username" class="form-control" id="username" placeholder="Enter New Username">
                        </div><br>
                        <div class="form-group">
                            <label for="email" class="form-control">Email</label>
                            <input type="email" v-model="newdetails.email" class="form-control" id="email" placeholder="Enter New Email">
                        </div><br>
                        <div class="form-group">
                            <label for="firstName" class="form-control">First Name</label>
                            <input type="text" v-model="newdetails.firstname" class="form-control" id="firstName" placeholder="Enter first name">
                        </div><br>
                        <div class="form-group">
                            <label for="lastName" class="form-control">Last Name</label>
                            <input type="text" v-model="newdetails.lastname" class="form-control" id="lastName" placeholder="Enter last name">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-success" v-on:click="changeDetails(details)">Submit</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Go back</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div><br><br>
    <div>
        <h1>Your saved films</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Film</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for film in films %}
                <tr>
                    <td><img src="{{ film.film.poster }}" width="130" height="200"></td>
                    <td><a href="{% url 'selected' film.film.name %}">{{ film.film.name }}</a></td>
                    <td>{{ film.film.avgscore }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let myApp = Vue.createApp({
        delimiters: ["[[", "]]"],
        data() {
            return {
                currentdetails: null,
                pass: {
                    currentpass: null,
                    newpass1: null,
                    newpass2: null
                },
                newdetails: {
                    username: null,
                    email: null,
                    firstname: null,
                    lastname: null
                }
            }
        },
        async created() {
            await this.getProfileInfo();
        },
        methods: {
            async changePassword(pass) {
                let response = await fetch("{% url 'changepass' %}", {
                    method: "POST",
                    body: JSON.stringify({
                        currentpass: pass.currentpass,
                        newpass1: pass.newpass1,
                        newpass2: pass.newpass2
                    }),
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                    },
                });

                if (response.ok) {
                    console.log(this.pass);
                    this.pass = {
                        currentpass: null,
                        newpass1: null,
                        newpass2: null
                    };
                    console.log(this.pass);
                    alert("Password successfully changed");
                } else {
                    alert("Something went wrong with changing the password");
                }
            },
            async changeDetails(newdetails) {
                let response = await fetch("{% url 'changeinfo' %}", {
                    method: "POST",
                    body: JSON.stringify({
                        username: this.newdetails.username,
                        email: this.newdetails.email,
                        firstname: this.newdetails.firstname,
                        lastname: this.newdetails.lastname
                    }),
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken").value,
                    },
                });

                if (response.ok) {
                    console.log(this.newdetails);
                    this.newdetails = {
                        username: null,
                        email: null,
                        firstname: null,
                        lastname: null
                    };
                    alert("The details you wanted have successfully changed");
                    await this.getProfileInfo();
                } else {
                    alert("Something went wrong with changing the given details");
                }
            },
            async getProfileInfo() {
                let response = await fetch("{% url 'getprofileinfo' %}");
                if (response.ok) {
                    let data = await response.json();
                    this.currentdetails = data;
                } else {
                    alert("Profile information failed to be loaded");
                }
            }
        }
    });

    myApp.mount('#app');

</script>


{% endblock %}